.pure-red {
  background: rgb(255,0,0);
}

.circular-div-50 {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.circular-div-100 {
  border-radius: 100px;
}

.circular-div-200 {
  border-radius: 200px;
}

.inline-block {
  display: inline-block;
}