body {
  background-color: #ededed;
}

.create-item {
  font-size: 6.8rem;
  color: white;
}

.committee-view {
  div {
    div
    {
      box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
      background-color: #fff;
      h2 {
        line-height: 6;
      }
    }
  }
  .uploaded-resource {
    h2 {
      line-height: 1;
    }
  }
}